gasMilage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="milage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="fillup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date" />
              <xs:element name="gallons" type="xs:decimal" />
              <xs:element name="miles" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>